.App-header {
    background-color: #222;
    height: 150px;
    padding: 10px;
    color: white;
}

.App-title {
    font-size: 50px;
    font-family: 'WaltographRegular';
    font-weight: normal;
    font-style: normal;
    text-align: center;
}

.App-intro {
    font-size: 30px;
    text-align: center;
    font-family: 'WaltographRegular';
    font-weight: normal;
    font-style: normal;
    margin-bottom: 20px;
}